/* CSS declarations go here */



body { 
	padding-top: 100px; 
	background-color:#46483e;

}

h3 {
	text-align: center;
)

#new-que textarea {
    margin: 0;
    padding: 0;
    margin-right: 15px;
}
#new-que {
    margin-left: 20px;
	
}
	
}
#tbody {
	border-style:solid;
	border-width:5px;
}

#tr {
	background-color:cad8ba;
}